.tablet-thankyou
    .tablet__header {{d.TABLET_AnswerHasBeenSend}}

    .tablet__content
        .tablet-thankyou__message {{d.TABLET_ThankYou}}
        .tablet-thankyou__message {{d.TABLET_TabletReset}} {{reset_clock}} {{d.TABLET_Sec}}