.tablet-page.tablet-intro
    .tablet__header Velkommen til lægehuset.

    .tablet__content
        .tablet__content--inner
            .tablet__intro-lead For at udnytte din og vores tid bedst muligt vil vi bede dig udfylde dette spørgeskema. Vi mener det er med til at øge kvaliteten af vores behandling. Hvis der er spørgsmål du ikke ønsker at svare på, springer du blot over. Nogetom data
            .tablet__intro-signeture Mvh "AKTIVT KLINIKNAVN"


    .tablet__footer
        .tablet-page__next-button-start(ng-click="nextSlide()")
            span Start
            span.ion-chevron-right