.tablet-navigation(ng-controller="TabletNavigationCtrl")
    .tablet-navigation__button(ng-click="tablet_navigation_expanded = !tablet_navigation_expanded")
        span.ion-grid
    .tablet-navigation__collapsable(collapse="!tablet_navigation_expanded", off-click='tablet_navigation_expanded = false', off-click-filter='.tablet-navigation__button')
        .tablet-navigation__container
            .tablet-navigation__menu-item(ng-click="onClickHome()")
                .menu-item__icon.ion-ios7-home
                .menu-item__text {{d.TABLET_Home}}
