.tablet-page.tablet-scheme-list
    .tablet__header {{d.TABLET_ChooseSchemet}}

    .tablet__content
        .tablet__content--inner
            .scheme-item(ng-repeat="scheme in t.schemes", ng-click="selectScheme(scheme)") {{scheme.Title}}


    .tablet__footer
        .tablet-page__previous-button(ng-click="backSlide()")
            span.ion-chevron-left