nav(ng-controller="NavigationCtrl", ng-show="is_logged_in")
    .navigation
        .navigation__profil
            .navigation__profil-circle
                span.glyphicon.glyphicon-user

        .navigation__menu
            a.navigation__menu-item(ng-href="/", title="Home")
                span.glyphicon.glyphicon-home
            a.navigation__menu-item(ng-href="/customers", title="Customers", , ng-show="auth.roleHasAccess(['Admin'])")
                i.ion-person-stalker
            .navigation__menu-item.navigation__menu-item--builder(ng-click="showContentTree()", title="Builder", ng-show="auth.roleHasAccess(['Editor', 'Admin'])")
                span.glyphicon.glyphicon-list-alt
            a.navigation__menu-item(ng-href="/settings", title="Settings")
                span.glyphicon.glyphicon-cog
            a.navigation__menu-item(ng-click="logout()", title="Logout")
                span.glyphicon.glyphicon-off

    ng-include(src="'partials/builder/navigation-builder'", ng-show="auth.roleHasAccess(['Editor', 'Admin'])")



