.frontpage

    .user-list__widget
        .user-list__header
            .user-item__row.lable-icon
            .user-item__row.lable-scheme {{d.FRONTPAGE_Scheme}}
            .user-item__row.lable-appointment {{d.FRONTPAGE_TimeForAppointment}}
            .user-item__row.lable-submitted {{d.FRONTPAGE_Submitted}}

        .user-list__content
            a.user-item(ng-repeat="patient in patients", ng-href="/patient/subjective/{{patient._id}}")
                .user-item__row.lable-icon
                    span.glyphicon.glyphicon-time
                .user-item__row.lable-scheme {{patient.Schemes[0].Title}}
                .user-item__row.lable-appointment Kl {{formatDateTime(patient.TimeOfAppointment)}}
                .user-item__row.lable-submitted {{calcTimeSinceSubmition(patient.Submitted)}}
