.frontpage.dn-fade(ng-show="!is_loading_content")

    .user-list__widget
        .user-list__header
            .user-item__row.lable-icon
            .user-item__row.lable-scheme Scheme
            .user-item__row.lable-appointment Time for appointment
            .user-item__row.lable-submitted Submitted

        .user-list__content
            a.user-item(ng-repeat="patient in patients", ng-href="/patient/subjective/{{patient._id}}")
                .user-item__row.lable-icon
                    span.glyphicon.glyphicon-time
                .user-item__row.lable-scheme {{patient.scheme}}
                .user-item__row.lable-appointment Kl {{formatDateTime(patient.appointment)}}
                .user-item__row.lable-submitted {{calcTimeSinceSubmition(patient.submitted)}}
