.frontpage

    .user-list__widget
        .user-list__header
            .user-item__row.lable.lable-icon
            .user-item__row.lable.lable-scheme(ng-click="reverse=!reverse;order('SchemeTitle', reverse)")
                span {{d.FRONTPAGE_Scheme}}
                span(ng-class="{'ion-chevron-down': reverse && order_by === 'SchemeTitle', 'ion-chevron-up': !reverse && order_by === 'SchemeTitle'}")

            // .user-item__row.lable.lable-appointment(ng-click="reverse=!reverse;order('TimeOfAppointment', reverse)")
            //    span {{d.FRONTPAGE_TimeForAppointment}}
            //    span(ng-class="{'ion-chevron-down': reverse && order_by === 'TimeOfAppointment', 'ion-chevron-up': !reverse && order_by === 'TimeOfAppointment'}")
            .user-item__row.lable.lable-submitted(ng-click="reverse=!reverse;order('Submitted', reverse)")
                span {{d.FRONTPAGE_Submitted}}
                span(ng-class="{'ion-chevron-down': reverse && order_by === 'Submitted', 'ion-chevron-up': !reverse && order_by === 'Submitted'}")

            .user-item__row.lable.lable-status

        .user-list__content
            a.user-item(ng-repeat="patient in patients", ng-if="patient.Status !== 'Completed'", ng-href="/patient/{{patient._id}}/scheme/0")
                .user-item__row.lable-icon
                    span.glyphicon.glyphicon-time
                .user-item__row.lable-scheme {{patient.SchemeTitle}}
                //.user-item__row.lable-appointment {{patient.mTimeForAppointment}}
                .user-item__row.lable-submitted {{patient.mSubmitted}}

            a.user-item.completed(ng-repeat="patient in patients", ng-if="patient.Status === 'Completed'",ng-href="/patient/{{patient._id}}/scheme/0")
                .user-item__row.lable-icon
                    span.glyphicon.glyphicon-time
                .user-item__row.lable-scheme {{patient.SchemeTitle}}
                //.user-item__row.lable-appointment {{patient.mTimeForAppointment}}
                .user-item__row.lable-submitted {{patient.mSubmitted}}
