nav.navigation
    .navigation__profil
        .navigation__profil-circle
            span.glyphicon.glyphicon-user

    .navigation__menu
        a.navigation__menu-item(ng-href="/", title="Home")
            span.glyphicon.glyphicon-home
        a.navigation__menu-item
            span.glyphicon.glyphicon-cog