nav(ng-controller="NavigationCtrl", ng-show="is_logged_in")
    .navigation
        .navigation__profil
            .navigation__profil-circle
                span.glyphicon.glyphicon-user

        .navigation__menu
            a.navigation__menu-item(ng-href="/", title="{{d.NAVIGATION_Home}}")
                span.glyphicon.glyphicon-home
            a.navigation__menu-item(ng-href="/customers", title="{{d.NAVIGATION_Members}}", , ng-show="auth.roleHasAccess(['Admin'])")
                i.ion-person-stalker
            .navigation__menu-item.navigation__menu-item--builder(ng-click="showContentTree()", title="{{d.NAVIGATION_SchemeaBuilder}}", ng-show="auth.roleHasAccess(['Editor', 'Admin'])")
                span.glyphicon.glyphicon-list-alt
            a.navigation__menu-item(ng-href="/settings", title="{{d.NAVIGATION_Settings}}")
                span.glyphicon.glyphicon-cog
            a.navigation__menu-item(ng-click="logout()", title="{{d.NAVIGATION_Logout}}")
                span.glyphicon.glyphicon-off

    ng-include(src="'partials/builder/navigation-builder'")



