nav(ng-controller="NavigationCtrl", ng-show="is_logged_in")
    .navigation
        .navigation__profil
            .navigation__profil-circle
                span.glyphicon.glyphicon-user

        .navigation__menu
            a.navigation__menu-item(ng-href="/", title="Home")
                span.glyphicon.glyphicon-home
            .navigation__menu-item.navigation__menu-item--builder(ng-click="showContentTree()", title="Builder")
                span.glyphicon.glyphicon-list-alt
            a.navigation__menu-item(ng-href="/settings", title="Home")
                span.glyphicon.glyphicon-cog
            a.navigation__menu-item(ng-click="logout()", title="Logout")
                span.glyphicon.glyphicon-off

    .scheme-builder__menu(ng-class="{active: show_content_tree}", off-click='show_content_tree = false', off-click-filter='.navigation__menu-item--builder, .create-scheme-modal')
        button.scheme-builder__create-scheme(ng-click="showModal()") Create Scheme

        .content-tree
            .content-tree__item-root(ng-repeat="scheme in schemes")
                span.glyphicon(ng-click="expandContentTree(scheme)", ng-class="{'glyphicon-chevron-right': !contentItemIsOpen(scheme), 'glyphicon-chevron-down': contentItemIsOpen(scheme)}")
                span.content-tree__item-icon.glyphicon.glyphicon-file
                a(ng-href="scheme-builder/{{scheme._id}}") {{scheme.Title}}


                .content-tree__item(ng-repeat="step in scheme.steps", ng-show="contentItemIsOpen(scheme)")
                    span.glyphicon(ng-click="expandContentTree(step)", ng-class="{'glyphicon-chevron-right': !contentItemIsOpen(step), 'glyphicon-chevron-down': contentItemIsOpen(step)}")
                    span.content-tree__item-icon.glyphicon.glyphicon-file
                    a {{step.Title}}

                    .content-tree__item(ng-repeat="question in step.questions", ng-show="contentItemIsOpen(step)")
                        span.glyphicon
                        span.content-tree__item-icon.glyphicon.glyphicon-file
                        a {{question.QuestionText}}

                        //.content-tree__item(ng-repeat="question in step.questions")
                        //    span.glyphicon
                        //    span.content-tree__item-icon.glyphicon.glyphicon-file
                        //    a {{question.QuestionText}}
