nav.navigation(ng-controller="NavigationCtrl", ng-show="is_logged_in")
    .navigation__profil
        .navigation__profil-circle
            span.glyphicon.glyphicon-user

    .navigation__menu
        a.navigation__menu-item(ng-href="/", title="Home")
            span.glyphicon.glyphicon-home
        a.navigation__menu-item(ng-href="/settings", title="Home")
            span.glyphicon.glyphicon-cog
        a.navigation__menu-item(ng-click="logout()", title="Logout")
            span.glyphicon.glyphicon-off