nav(ng-controller="SideBarCtrl", ng-show="is_logged_in")
    .sidebar
        .sidebar__profil
            .sidebar__profil-circle
                span.glyphicon.glyphicon-user

        .sidebar__menu
            a.sidebar__menu-item(ng-href="/", title="{{d.NAVIGATION_Home}}")
                span.glyphicon.glyphicon-home
            a.sidebar__menu-item(ng-href="/customers", title="{{d.NAVIGATION_Members}}", ng-show="auth.roleHasAccess(['Admin'])")
                span.ion-android-friends
            .sidebar__menu-item.navigation__menu-item--builder(ng-click="showContentTree()", title="{{d.NAVIGATION_SchemeaBuilder}}", ng-show="auth.roleHasAccess(['Editor', 'Admin'])")
                span.glyphicon.glyphicon-list-alt
            a.sidebar__menu-item(ng-href="/settings", title="{{d.NAVIGATION_Settings}}")
                span.glyphicon.glyphicon-cog
            a.sidebar__menu-item(ng-click="logout()", title="{{d.NAVIGATION_Logout}}")
                span.glyphicon.glyphicon-off

    ng-include(src="'partials/builder/navigation-builder'")



