.topbar(ng-controller="TopBarCtrl")
    .topbar__logout(ng-click="logout()", title="{{d.NAVIGATION_Logout}}")
        span.ion-log-out
        span {{d.NAVIGATION_Logout}}

    .topbar__notification
        span.ion-ios7-bell-outline
        span.topbar__notification-number(ng-if="number_of_uncompleted_patients.length !== 0") {{number_of_uncompleted_patients.length }}
