.delete-item-modal
    .item-modal__header {{d.GENERAL_Delete}} {{type}}

    .item-modal__content

        .item-modal__text {{d.MODAL_AreYouSure}} <b>"{{name}}"</b> <br> {{d.MODAL_AndAllSubitems}}


        .item-modal__buttons
            button.item-modal__create-button(ng-click="ModalService.delete(type, item_id)")
                span {{d.GENERAL_Delete}} {{type}}
                .element-loader__container(ng-class="{fade: ModalService.isLoading()}")
                    .element-loader
            button.item-modal__cancel-button(ng-click="ModalService.close()") {{d.GENERAL_Cancel}}