.tablet-question {

  ///////////////SINGLE TEXT/////////////////
  .single-text {
    position: relative;
    top: calc(50% - 50px);

    input {
      @include transition-duration(0.2s);
      @include transition-timing-function(ease-in);

      width: 100%;
      margin: 0 auto;
      padding: 10px 20px;
      background-color: transparent;
      font-size: 25px;
      color: $nav-button-background;
      font-weight: 100 !important;
      border: none;
      outline: none;


      @include breakpoint(xs) {
        font-size: 20px;
      }

      @include placeholder {
        color: lighten($nav-button-background, 30%);
        font-weight: 100;
      }

      &:focus + .single-text__border {
        border-bottom: 1px solid $blue;
        border-left: 1px solid $blue;
        border-right: 1px solid $blue;
      }

      &:focus {
        color: $blue;
        @include placeholder {
          color: $blue;
        }
      }

      &.ng-invalid-number {
        color: $red;

        & + .single-text__border {
          border-color: $red;
        }
      }

    }

    .single-text__border {
      @include transition-duration(0.2s);
      @include transition-timing-function(ease-in);

      position: absolute;
      height: 20px;
      width: 100%;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid $nav-background;
      border-left: 1px solid $nav-background;
      border-right: 1px solid $nav-background;
    }
  }

  ///////////////MULTI TEXT/////////////////
  .multi-text {
    top: calc(50% - 105px);
    position: relative;

    textarea {
      width: 100%;
      border: none;
      background-color: transparent;
      font-size: 25px;
      color: $nav-button-background;
      font-weight: 100 !important;
      outline: none;
      padding: 10px 20px 10px 20px;
      resize: none;

      @include breakpoint(xs) {
        font-size: 20px;
      }

      @include placeholder {
        color: lighten($nav-button-background, 30%);
        font-weight: 100;
      }

      &:focus {
        color: $blue;

        @include placeholder {
          color: $blue;
        }
      }
    }

    .multi-text__border-left {
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 100%;
      border-bottom: 1px solid $nav-background;
      border-left: 1px solid $nav-background;
      border-top: 1px solid $nav-background;
    }

    .multi-text__border-right {
      position: absolute;
      top: 0;
      right: 0;
      width: 20px;
      height: 100%;
      border-bottom: 1px solid $nav-background;
      border-right: 1px solid $nav-background;
      border-top: 1px solid $nav-background;
    }
  }

  ///////////////LIST PICKER/////////////////
  .list-picker {
    position: relative;


    .tablet-page__answer-option {
      box-sizing: content-box;
      border: 1px solid $border-tablet;
      padding: 10px;
      display: block;
      margin: 1px 1px 10px 1px;
      font-size: 25px;
      color: $nav-button-background;
      font-weight: 100 !important;
      text-align: center;

      @include breakpoint(xs) {
        font-size: 20px;
      }


      &.active {
        border-color: $dark-blue;
        background-color: $light-blue;
        color: $dark-blue;
      }
    }

    li button:before {
      color: white;
      font-size: 10px;
    }
  }
}