.tablet-doctor-list {
  .doctor-item {
    width: 100%;
    border: none;
    cursor: pointer;
    padding: 5px;
    border: 1px solid $border-tablet;
    margin-bottom: 10px;
    height: 67px;

    .doctor-item__profile-image {
      @include transition-duration(0.2s);
      @include transition-timing-function(ease-in);

      width: 55px;
      height: 55px;
      border-radius: 30px;
      border: 1px solid $nav-button-background;
      overflow: hidden;
      margin: 0 auto;
      position: relative;
      display: inline-block;

      span {
        font-size: 40px;
        padding: 14px 6px 6px 6px;
        color: $nav-button-background;
      }
    }

    .doctor-item__profile-name {
      @include transition-duration(0.2s);
      @include transition-timing-function(ease-in);

      text-align: center;
      padding-left: 20px;
      font-weight: 100;
      font-size: 20px;
      line-height: 55px;
      display: inline-block;
      vertical-align: top;
    }

    &:active {
      background-color: $light-blue;
      border-color: $dark-blue;
      color: $dark-blue;

      .doctor-item__profile-image {
        color: $dark-blue;
      }
    }
  }
}