.tablet-page {
  position: relative;
  top: 60px;
  height: calc(100% - 60px);
  padding: 0 40px;

  @include breakpoint(xs) {
    top: 45px;
    height: calc(100% - 45px);
  }


  .tablet__header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 35px;
    text-align: center;
    font-weight: 100;
    padding: 5px 20px;
    line-height: 40px;
    height: 90px;
    overflow: hidden;

    @include breakpoint(xs) {
      font-size: 20px;
      height: 70px;
      line-height: 30px;
    }
  }

  .tablet__content {
    position: absolute;
    top: 90px;
    left: 0;
    bottom: 90px;
    width: 100%;

    @include breakpoint(xs) {
      top: 70px;
      bottom: 70px;
    }

    .tablet__content--inner {
      height: calc(100% - 20px);
      position: relative;
      margin: 0 auto;
      max-width: 750px;
      overflow: auto;
      padding: 10px;
      border: 1px solid $border-tablet;

      @include breakpoint(xs) {
        height: 100%;
      }
    }
  }

  .tablet__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: $nav-background;

    @include breakpoint(xs) {
      height: 70px;
    }

    .tablet-page__next-button {
      @include transition-duration(0.5s);
      @include transition-timing-function(liniar);

      padding: 5px;
      width: 60px;
      height: 60px;
      font-size: 16px;
      z-index: 2000;
      font-size: 16px;
      border: 2px solid $border-grey;
      color: $border-grey;
      position: absolute;
      bottom: 0;
      right: 0;
      text-align: center;
      border-radius: 35px;
      margin: 15px;
      cursor: pointer;


      span {
        vertical-align: middle;
        line-height: 48px;
        font-size: 30px;
      }

      &:active {
        background-color: $light-blue;
        border-color: $dark-blue;
        color: $dark-blue;
      }

      @include breakpoint(xs) {
        width: 50px;
        height: 50px;
        padding: 0px;
        margin: 10px;

        span {
          font-size: 20px;
        }
      }
    }

    .tablet-page__previous-button {
      @extend .tablet-page__next-button;

      left: 0;
    }
  }
}
