

.page-slide {
  .ng-leave {
    z-index: 8888;
    -webkit-animation:slideOutLeft 0.7s both ease-in;
    -moz-animation:slideOutLeft 0.7s both ease-in;
    animation:slideOutLeft 0.7s both ease-in;
  }
  .ng-enter {
    z-index: 9999;
    -webkit-animation:slideInRight 0.7s both ease-in;
    -moz-animation:slideInRight 0.7s both ease-in;
    animation:slideInRight 0.7s both ease-in;
  }
}

.page-slide-up {
  &.ng-enter {
    z-index: 9999;
    -webkit-animation:slideInUp 0.5s both ease-in;
    -moz-animation:slideInUp 0.5s both ease-in;
    animation:slideInUp 0.5s both ease-in;
  }

  &.ng-leave {
    z-index: 8888;
    -webkit-animation:scaleDown 0.5s both ease-in;
    -moz-animation:scaleDown 0.5s both ease-in;
    animation:scaleDown 0.5s both ease-in;
  }

}

.page-slide-down {
  &.ng-enter {
    z-index: 9999;
    -webkit-animation:slideInDown 0.5s both ease-in;
    -moz-animation:slideInDown 0.5s both ease-in;
    animation:slideInDown 0.5s both ease-in;
  }

  &.ng-leave {
    z-index: 8888;
    -webkit-animation:scaleDown 0.5s both ease-in;
    -moz-animation:scaleDown 0.5s both ease-in;
    animation:scaleDown 0.5s both ease-in;
  }
}


.tablet__header {
  font-size: 50px;
  text-align: center;
  margin: 0px 60px 30px 60px;
  font-weight: 100;
}



//==================Animaions========================
//Slide up
@keyframes slideInUp {
  from 	{ transform:translateY(100%); }
  to 		{ transform: translateY(0); }
}

@keyframes slideOutUp {
  to 		{ transform: translateY(-100%); }
}

//Slide down
@keyframes slideInDown {
  from 	{ transform:translateY(-100%); }
  to 		{ transform: translateY(0); }
}

@keyframes slideOutDown {
  to 		{ transform: translateY(100%); }
}

//scale down
@keyframes scaleDown {
  from 	{ opacity: 1.0; -webkit-transform: scale(1.0); }
  to 	{ opacity: 0.3; -webkit-transform: scale(0.7); }
}


//Slide left

@keyframes slideInRight {
  from 	{ transform:translateX(100%); }
  to 	{ transform: translateX(0); }
}

@keyframes slideOutLeft {
  to 	{ transform: translateX(-100%); }
}
