.tablet-thankyou {
  .tablet__content--sending {
    top: calc(50% - 115px);
    position: relative;

    .sending-answers {
      font-size: 25px;
      font-weight: 100;
      text-align: center;

      span:first-child {
        margin: 10px;
      }
    }

    .sending-answers-icon{
      text-align: center;
      font-size: 35px;
      margin-top: 30px;
    }
  }

  .tablet__content--resetting {
    .tablet-thankyou__message {
      font-size: 25px;
      font-weight: 100;
      line-height: 40px;
      padding: 20px;
      text-align: center;
    }
  }
}