.tablet-scheme-list {
  background-color: $main-background;

  .tablet__header {
    font-size: 40px;
    margin: 10px 60px 30px 60px;
  }

  .tablet__content {
    width: 60%;
    position: relative;
    margin: 0 auto;

    .scheme-list {
      position: relative;

      .arrow {
        position: absolute;
        right: -20px;
        color: darken($light-grey, 30%);

        &.up-arrow {
          top: 0;
        }

        &.down-arrow {
          bottom: 0;
        }
      }

      .scheme-list--wrapper {
        height: 289px;
        overflow: auto;
        padding: 10px;
        border: 1px solid $light-grey;
      }
    }
  }
}

.scheme-item {
  @include transition-duration(0.5s);
  @include transition-timing-function(liniar);

  color: $nav-button-background;
  font-size: 26px;
  font-weight: 100;
  padding: 10px 40px 10px 40px;
  border: 1px solid $nav-button-background;
  display: block;
  text-align: center;
  cursor: pointer;
  margin: 1px 1px 10px 1px;

  &:hover {
    color: $blue;
    border-color: $blue;
  }

  &:active {
    background-color: lighten($blue, 20%);
    color: white;
  }
}