.create-doctor-modal
    .item-modal__header Create Doctor

    .item-modal__content

        form(name='modal_form', novalidate='novalidate')
            .form-group(ng-class="{'has-error':modal_form.name.$error.required && is_submitted}")
                label Name
                input.form-control(type='text', name='name', ng-model='user.name', required)

                p.help-block.has-error(ng-show='modal_form.name.$error.required && is_submitted') Please enter a name

            .form-group(ng-class="{'has-error':modal_form.email.$error.required && is_submitted}")
                label Username (email)
                input.form-control(type='email', name='email', ng-model='user.email', required)

                p.help-block.has-error(ng-show='modal_form.email.$error.email && is_submitted') Please enter a valid email

            .form-group(ng-class="{'has-error':modal_form.password.$error.required && is_submitted}")
                label Password
                input.form-control(type='password', name='password', ng-model='user.password', required)

                p.help-block.has-error(ng-show='modal_form.password.$error.required && is_submitted') Please enter a password

            .form-group(ng-class="{'has-error':modal_form.role.$error.required && is_submitted}")
                label Role
                select.form-control(type='text', name='role', ng-model='user.role', ng-options="role as role.Label for role in roles", required)

                p.help-block.has-error(ng-show='modal_form.role.$error.required && is_submitted') Please choose a role

            button.item-modal__create-button(ng-click="save(modal_form, user)")
                span Create Doctor
                .element-loader__container(ng-class="{fade: is_loading}")
                    .element-loader

            button.item-modal__cancel-button(ng-click="close()") Cancel

