.modal.sort-scheme-modal
    .modal-dialog
        .modal-content
            .modal-body
                .modal-title Sort steps

                .modal-body__content
                    .modal-body__sortable-list
                        .sortable-item

                .modal-bottom
                    button.modal-body__create-button(ng-click="saveStepSorting()")
                        span Save
                        .element-loader__container(ng-class="{fade: is_saving_sorted_items}")
                            .element-loader
                    button.modal-body__cancel-button(ng-click="hideSortStepModal()") Cancel