.tablet-doctor-list
    .tablet__header Vælg din læge

    .tablet__content
        .doctor-list
            slick(slides-to-show="3", slides-to-scroll="3", dots="true", init-onload=true, data="t.doctors")
                .doctor-item(ng-repeat="doctor in t.doctors", ng-click="selectDoctor(doctor)")
                    .doctor-item__profile-image
                        span.glyphicon.glyphicon-user

                    .doctor-item__profile-name {{doctor.name}}

    .tablet__footer