.tablet-scheme-list
    .tablet__header Vælg et skema

    .tablet__content
        .scheme-list
            slick(slides-to-show="3", slides-to-scroll="3", vertical="true", dots="true")
                .scheme-item__container
                    .scheme-item Ondt i livet
                .scheme-item__container
                    .scheme-item Ondt i livet
                .scheme-item__container
                    .scheme-item Ondt i livet
                .scheme-item__container
                    .scheme-item Ondt i livet

    .tablet__footer