.tablet-finish
    .tablet__header {{d.TABLET_ThankYou}}

    .tablet__content
        .tablet-finish__send-to-doctor(ng-click="sendAnswersToDoctor()")
            span.tablet-finish__icon(ng-class="{'ion-paper-airplane': !is_loading, 'ion-loading-c': is_loading}")
            span Send your answer to {{response.doctor.name}}