///////////////////RESET EDITABLE/////////////////////

.editable-click {
  border: 1px solid white;

  &:hover {
    border: 1px solid white;
  }
}


///////////////////EDITABLE-TEXT/////////////////////
div[editable-text], div[editable-radiolist], div[editable-textarea] pre, div[editable-select] {
  cursor: pointer;
  border: 1px solid white;
  padding: 10px 0 10px 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: transparent;
  color: $editable-answer-blue;
  margin: 0;

  &:hover {
    background-color: $blue-hover;
  }
}

.editable-text {
  width: 50%;

  input {
    width: 100%;
    border: 1px solid $blue;
    outline: none;
    padding: 10px 0 10px 0;
    background-color: $blue-hover;
    color: $editable-answer-blue;
    padding-left: 5px;
  }
}

.editable-radiolist {

  label {
    position: relative;
    margin: 0;

    input[type="radio"] {
      position: absolute;
      z-index: -100;

      &:checked + span {
        background-color: $blue;
        color: white;
      }
    }

    span {
      margin: 0;
      color: $blue;
      font-weight: 200;
      display: inline-block;
      vertical-align: top;
      padding: 10px;
      border: 1px solid $blue;
      margin-right: 5px;
      min-width: 70px;
      text-align: center;

      &:hover {
        background-color: $blue-hover;
      }
    }
  }
}

.editable-textarea {
  width: 50%;

  textarea {
    width: 100%;
    border: 1px solid $blue;
    outline: none;
    padding: 10px 0 10px 0;
    background-color: $blue-hover;
    color: $editable-answer-blue;
    padding: 5px;
  }
}

.editable-select {
  width: 50%;

  select {
    width: 100%;
    border: 1px solid $blue;
    outline: none;
    padding: 10px 0 10px 0;
    background-color: $blue-hover;
    color: $editable-answer-blue;
    height: 37px;
    border-radius: 0;

    &:before {
      @extend .glyphicon;
      @extend .glyphicon-chevron-down;

      content: "";
    }
  }
}