.builder {
  .builder__save-button {
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-in);

    border: 1px solid darken($blue, 3%);
    background-color: $blue;
    padding: 10px 60px;
    font-size: 12px;
    font-weight: 200;
    color: white;
    outline: none;
    float: right;
    position: relative;

    &:hover {
      background-color: darken($blue, 5%);
    }


    span {

      &:first-child {
        margin-right: 15px;
      }
    }
  }

  form {
    margin-bottom: 30px;
  }
}

.builder__widget {
  @extend %widget-box;

  overflow: hidden;
}

.builder__widget-content {
  .builder__widget-option {

    label {
      margin-bottom: 15px;
    }

    .builder__widget-option-row {
      margin-bottom: 10px;
    }

    .builder__widget-add-option-button {
      @include transition-duration(0.2s);
      @include transition-timing-function(ease-in);

      background-color: #F8F8F8; //Magic color
      padding: 7px 7px 7px 12px;
      color: #D5D5D5;//Magic color
      font-size: 14px;
      font-weight: 200;
      border-radius: 0;
      border-color: #F7F7F7;//Magic color

      span:first-child {
        font-size: 10px;
        margin-right: 5px;
        vertical-align: top;
        line-height: 17px;
      }


    }

    &:hover {

      .builder__widget-add-option-button {
        background-color: darken(#F8F8F8, 5%);
        color: darken(#D5D5D5, 5%);
      }
    }
  }

  .builder__widget-journaltext {
    padding: 0;
    border-radius: 0;

    .journal_fix {
      padding: 6px;
      height: 31px;
      content: "";
      font-weight: 200;
      display: inline-flex;
    }

    .jounal_answer {
      padding: 5px;
      display: inline-flex;
      vertical-align: top;
      font-size: 16px;
      font-weight: 200;
      color: $blue;
    }
  }
}
