.user-list__widget {
  @extend %widget-box;
}

.user-item__row {
  @include transition-duration(0.3s);
  @include transition-timing-function(ease-in);

  font-size: 14px;
  font-weight: 200;
  display: inline-block;
  color: $nav-button-background;

  span:last-child {
    margin-left: 10px;
  }

  &.lable {
    cursor: pointer;

    &:hover {
      color: darken($blue, 20%);
    }
  }

  &.lable-icon {
    width: 50px;
    text-align: center;

    span {
      font-size: 20px;
      vertical-align: middle;
    }
  }

  &.lable-scheme {
    @include calc("width", "50% - 150px");
  }

  &.lable-appointment {
    width: 25%;
  }

  &.lable-submitted {
    width: 25%;
  }

  &.lable-status {
    position: relative;
    width: 100px;

    .completed-icon {
      position: absolute;
      top: -16px;
      left: 0;
      font-size: 18px;
      color: $green;
    }
  }
}

.user-list__header {
  padding: 15px 0 15px 0;
  border-bottom: 1px solid $nav-button-background;
}

.user-item {
  @include transition-duration(0.3s);
  @include transition-timing-function(ease-in);

  padding: 13px 0 13px 0;
  border-bottom: 1px dotted $nav-button-background;
  cursor: pointer;
  display: block;
  position: relative;

  &:hover {
    background-color: $blue-hover;
  }

  .user-item__row {
    font-weight: 200;
  }

  &.Started {
    border-left: 10px solid $yellow;
  }

  &.Submitted {
    border-left: 10px solid $green;
  }

  &.Completed {
    border-left: 10px solid $icon-dark-blue;
  }
}