.navigation {
  @include box-shadow(3px 0 5px rgba(black, 0.2));

  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 70px;
  background-color: $nav-background;
  z-index: 300;
}

.navigation__profil {
  padding: 40px 12px 150px 12px;
  border-bottom: 1px solid $nav-divider-shadow;
}

.navigation__profil-circle {
  width: 46px;
  height: 46px;
  border-radius: 23px;
  background: white;
  text-align: center;
  overflow: hidden;

  span {
    line-height: 57px;
    font-size: 45px;
    color: $icon-dark-blue;
  }
}

.navigation__menu {
  list-style-type: none;
  padding: 0px;
  margin: 0px;

  .navigation__menu-item {
    @include box-shadow(inset 0px -1px 1px $nav-divider);

    cursor: pointer;
    height: 70px;
    text-align: center;
    border-bottom: 1px solid $nav-divider-shadow;
    background-color: $nav-button-background;
    display: block;

    &:hover {
      span {
        color: white;
      }
    }

    span {
      @include transition-duration(0.2s);
      @include transition-timing-function(ease-in);
      line-height: 70px;
      font-size: 25px;
      color: $icon-dark-blue;
      pointer-events: none;
    }
  }
}

.scheme-builder__menu {
  @include box-shadow(3px 0 5px rgba(black, 0.2));
  @include transition-duration(0.3s);
  @include transition-timing-function(ease-in);

  position: fixed;
  top: 0;
  left: -270px;
  width: 320px;
  background: white;
  height: 100%;
  z-index: 200;
  padding: 20px;

  &.active {
    left: 70px;
  }

  .scheme-builder__create-scheme {
    @include transition-duration(0.3s);
    @include transition-timing-function(ease-in);

    width: 100%;
    border: none;
    background-color: transparent;
    border: 1px solid $blue;
    padding: 10px;
    font-size: 12px;
    font-weight: 200;
    color: $blue;
    outline: none;
  }
}

.content-tree--container {
  &.angular-ui-tree-drag {
    .content-tree__item{
      .content-tree__item-link {

        &:hover {
          span {
            @include transform(scale(1.0));

            visibility: visible;

          }
        }
      }
    }
  }

  &.angular-ui-tree-nodes {
    padding: 0;
  }
}


.content-tree {
  margin-top: 50px;
}


.content-tree__item {
  padding: 5px 0 0 10px;

  span {
    font-size: 8px;
    margin-right: 5px;
    vertical-align: top;
    line-height: 18px;
    color: $blue;
    cursor: pointer;
    font-weight: 200;
  }

  .content-tree__item-icon {
    font-size: 12px;
  }

  .content-tree__item-link {
    @include calc("width", "100% - 30px");

    display: inline-block;
    position: relative;

    &:hover {
      span {
        @include transform(scale(1.0));

        visibility: visible;

      }
    }

    a {
      @include transition-duration(0.3s);
      @include transition-timing-function(ease-in);

      color: $blue;
      font-size: 12px;
      font-weight: 200;
      width: calc(100% - 40px);
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: bottom;
      line-height: 22px;
    }

    .trash {
      @include transform(scale(0.0));
      @include transition(all 0.5s);

      position: absolute;
      top: 0;
      right: 0;
      font-size: 12px;
      line-height: 24px;
      visibility: none;

      &:hover {
        color: darken($blue, 20%);
      }

      &:active {
        @include transform(scale(1.7));

        color: darken($blue, 40%);
      }

    }

    .sort {
      @extend .trash;
      right: 20px;
    }
  }

}