/////////////////////SUMMERY WIDGET///////////////////////

.patient-summery__widget {
  @extend %widget-box;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
}

.patient-summery__image {
  width: 55px;
  height: 55px;
  float: left;
  border: 1px solid $nav-background;
  text-align: center;

  span {
    line-height: 55px;
    font-size: 45px;
    color: $nav-background;
  }
}


.patient-summery__info {
  overflow: hidden;
  padding-left: 20px;
}

.patient-summery__info-row {
  padding-bottom: 3px;
  color: #191b1f;
  font-weight: 200;

  .patient-summery__lable-scheme {
    font-size: 24px;
  }

  .patient-summery__lable {
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
    font-weight: 200;
  }

  .patient-summery__value {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.patient-summery__finish-patient {
  @include transition-duration(0.5s);
  @include transition-timing-function(liniar);

  position: absolute;
  top: 0;
  right: 0;
  background-color: $green;
  border: 1px solid $green;
  color: white;
  margin: 30px;
  padding: 18px 30px;
  outline: none;
  font-weight: 200;

  span:first-child {
    margin-right: 5px;
  }

  &:hover {
    background-color: lighten($green, 10%);
  }

  &:active {
    background-color: darken($green, 5%);
  }
}

/////////////////////SOAP WIDGET///////////////////////

.patient-soap__breadcrumb {
  display: flex;
  margin-right: 20px;
}

.patient-soap__breadcrumb-step {
  display: inline-block;
  flex-grow: 1;
  font-size: 12px;
  font-weight: 200;
  width: 25%;
  border: none;
  padding: 9px 9px 8px 9px;
  text-align: center;
  position: relative;
  background-color: lighten($blue, 20%);
  color: white;
  cursor: pointer;

  &:after {
    @include rotate(45deg);
    content: "";
    position: absolute;
    width: 25px;
    height: 24px;
    top: 5px;
    box-shadow: 1px -1px 0px white;
    right: -12px;
    border-bottom: none;
    border-left: none;
    z-index: 100;
    background-color: lighten($blue, 20%);
  }

  &.done {
    background-color: $blue;

    &:after {
      background-color: $blue;
    }

    &:hover {
      background-color: ligthen($blue, 2%);

      &:after {
        background-color: ligthen($blue, 2%);
      }
    }
  }

  &.active {
    background-color: darken($blue, 10%);

    &:after {
      background-color: darken($blue, 10%);
    }

    &:hover {
      background-color: darken($blue, 5%);

      &:after {
        background-color: darken($blue, 5%);
      }
    }
  }

  &:hover {
    background-color: lighten($blue, 22%);

    &:after {
      background-color: lighten($blue, 22%);
    }
  }
}

.patient-soap__item-list {

  &.is_loading-add {
    @include transition-duration(0.5s);
    @include transition-timing-function(liniar);
    top: 10px;
    opacity: 0;
    position: relative;
  }

  &.is_loading-add-active {
    top: 0px;
    opacity: 1;
  }

  &.is_loading-remove {
    opacity: 1;
  }

  &.is_loading-remove-active {
    opacity: 0;
  }

}

.patient-soap__title {
  font-weight: 100;
  font-size: 30px;
  color: $blue;
  letter-spacing: 5px;
  padding: 20px 0;

  &.is_loading-add {
    @include transition-delay(0.3s);
    @include transition-duration(0.6s);
    @include transition-timing-function(liniar);
    top: 5px;
    opacity: 0;
    position: relative;
  }

  &.is_loading-add-active {
    top: 0px;
    opacity: 1;
  }

  &.is_loading-remove {
    opacity: 1;
  }

  &.is_loading-remove-active {
    opacity: 0;
  }
}

.patient-soap__widget {
  @include calc("width", "70% - 20px");
  @extend %widget-box;

  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
}

.patient-soap__header {
  padding: 15px 0 15px 0;
  border-bottom: 1px solid $blue;
}

.patient-soap__row {
  font-size: 14px;
  font-weight: 200;
  display: inline-block;
  color: $blue;
  width: 50%;

}

.patient-soap__item--container {
  &.sub-item {
    border-left: 30px solid transparent;
  }
}

.patient-soap__item {
  padding: 4px 0 4px 0;
  border-bottom: 1px dotted $blue;
  color: $icon-dark-blue;
  font-size: 14px;
  font-weight: 200;

  .sub-item > & {
    padding-left: 10px;
  }
}

.patient-soap__item--question {
  @include calc("width", "50%");

  display: inline-block;
  vertical-align: top;
  padding: 10px 0 10px 0;

  .sub-item & {
    @include calc("width", "50% - 20px");
  }
}

.patient-soap__item--answer {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  font-size: 14px;
}

.patient-soap__navigation {
  overflow: hidden;
  padding-top: 20px;

  .patient-soap__navigation-back {
    color: $blue;
    border: 1px solid $blue;
    width: 200px;
    float: left;
    background-color: white;
    font-size: 14px;
    padding: 10px;
    outline: none;
    text-align: center;
    text-decoration: none;

    &:hover {
      background-color: $blue-hover;
      color: $blue;
    }

    &:focus {
      border: $nav-button-background 1px solid;
      color: $nav-button-background;
    }
  }

  .patient-soap__navigation-next {
    @extend .patient-soap__navigation-back;

    float: right;
  }
}

/////////////////////JOURNAL WIDGET///////////////////////


.patient-journal__widget {

  @extend %widget-box;

  width: 30%;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.patient-journal__copying {
  @include transition-duration(0.3s);
  @include transition-timing-function(ease-in);
  background-color: $blue;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  padding-top: 50%;

  &.ng-enter {
    opacity: 0;
  }

  &.ng-enter-active {
    opacity: 1;
  }

  &.ng-leave {
    opacity: 1;
  }

  &.ng-leave-active {
    opacity: 0;
  }
}

.patient-journal__header {
  padding: 15px 0 15px 0;
  border-bottom: 1px solid $blue;
}

.patient-journal__row {
  font-size: 14px;
  font-weight: 200;
  display: inline-block;
  color: $blue;

}

.patient-journal__content pre{
  line-height: 25px;
  padding: 20px 0 20px 0;
  color: $icon-dark-blue;
  font-size: 14px;
  font-weight: 200;
  border: none;
  background-color: transparent;
  white-space: pre-line;
  word-break: break-word;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.patient-journal__copypast-button {
  @include transition-duration(0.2s);
  @include transition-timing-function(ease-in);

  width: 100%;
  border: none;
  background-color: transparent;
  border: 1px solid $blue;
  padding: 10px;
  font-size: 14px;
  font-weight: 200;
  color: $blue;
  outline: none;

  &:hover {
    border: 1px solid $green;
    color: $green;
  }
}
