.tablet-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.tablet-page {
  @include transition-duration(0.5s);
  @include transition-timing-function(liniar);
  visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $blue;

  //Animation => slide in left
  &.slide-left_in-animation {
    visibility: visible;
    @include transform(translate3d(0, 0, 0));
  }

  &.slide-left_in-animation-add {
    @include transform(translate3d(100%, 0, 0));
  }

  &.slide-left_in-animation-add-active {
    @include transform(translate3d(0, 0, 0));
  }

  &.slide-left_out-animation {
    visibility: hidden;
    @include transform(translate3d(-100%, 0, 0));
  }

  &.slide-left_out-animation-add {
    @include transform(translate3d(0, 0, 0));
  }

  &.slide-left_out-animation-add-active {
    @include transform(translate3d(-100%, 0, 0));
  }

  &.slide-right_in-animation {
    visibility: visible;
    @include transform(translate3d(0, 0, 0));
  }

  &.slide-right_in-animation-add {
    @include transform(translate3d(-100%, 0, 0));
  }

  &.slide-right_in-animation-add-active {
    @include transform(translate3d(0, 0, 0));
  }

  &.slide-right_out-animation {
    visibility: hidden;
    @include transform(translate3d(100%, 0, 0));
  }

  &.slide-right_out-animation-add {
    @include transform(translate3d(0, 0, 0));
  }

  &.slide-right_out-animation-add-active {
    @include transform(translate3d(100%, 0, 0));
  }
}

.tablet-page__question {
  text-align: center;
  padding: 100px 30px 100px 30px;
  color: white;
  font-size: 40px;
}

.tablet-page__next-button {
  @include transition-duration(0.5s);
  @include transition-timing-function(liniar);

  padding: 10px;
  margin: 30px;
  width: 70px;
  height: 70px;
  font-size: 16px;
  z-index: 2000;
  font-size: 16px;
  border: 3px solid white;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  border-radius: 35px;

  span {
    vertical-align: middle;
    line-height: 40px;
    font-size: 30px;
  }

  &:active {
    background-color: $blue-hover;
  }
}

.tablet-page__previous-button {
  @include transition-duration(0.5s);
  @include transition-timing-function(liniar);

  padding: 10px;
  margin: 30px;
  width: 70px;
  height: 70px;
  font-size: 16px;
  border: 3px solid white;
  z-index: 2000;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  border-radius: 35px;

  span {
    vertical-align: middle;
    line-height: 40px;
    font-size: 30px;
  }

  &:active {
    background-color: $blue-hover;
  }
}

.tablet-page__content {
  text-align: center;
}

.tablet-page__finish-questionary {
  @include transition-duration(0.5s);
  @include transition-timing-function(liniar);

  color: white;
  font-size: 26px;
  padding: 10px 40px 10px 40px;
  border: 2px solid white;
  display: inline-block;

  &:hover {
     color: $blue-hover;
     border: 2px solid $blue-hover;
  }

  &:active {
    background-color: $blue-hover;
  }
}

.tablet-page__finish-questionary-thankyou {
  font-size: 36px;
  color: white;
  display: inline-block;
}

.tablet-page__scheme {
  @include transition-duration(0.5s);
  @include transition-timing-function(liniar);

  color: white;
  font-size: 26px;
  padding: 10px 40px 10px 40px;
  border: 2px solid white;
  display: block;
  width: 250px;
  margin: 0 auto;
  margin-bottom: 20px;
  cursor: pointer;

  &:hover {
    color: $blue-hover;
    border: 2px solid $blue-hover;
  }

  &:active {
    background-color: $blue-hover;
  }
}

//////////////QUESTIONS////////////////

.tablet-page__answer {

  .tablet-page__answer__inner {
    width: 60%;
    position: relative;
    margin: 0 auto;
  }
}


//////////////QUESTION WIDGETS////////////////
.single-text {
  input {
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-in);

    width: 100%;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    background-color: transparent;
    font-size: 40px;
    color: white;
    border: none;
    outline: none;

    @include placeholder {
      color: darken($blue, 5%);
    }

    &:focus {
      background-color: lighten($blue, 10%);
    }
  }

  .single-text__border {
    position: absolute;
    height: 20px;
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
  }
}

.multi-text {
  textarea {
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: 30px;
    outline: none;
    color: white;
    padding: 10px 20px 10px 20px;
    resize: none;

    @include placeholder {
      color: darken($blue, 5%);
    }

    &:focus {
      background-color: lighten($blue, 10%);
    }
  }

  .multi-text__border-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    border-top: 3px solid white;
  }

  .multi-text__border-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    border-top: 3px solid white;
  }
}

.radio-list {

  .tablet-page__answer-option--inner {
    box-sizing: content-box;
    border: 3px solid white;
    padding: 20px;
    display: block;
    margin: 5px;
    font-size: 16px;
    color: white;
    text-align: center;

    &.active {
      background-color: lighten($blue, 10%);
    }

    &:active {
      background-color: lighten($blue, 25%);
    }
  }

  li button:before {
    color: white;
    font-size: 10px;
  }
}